<% if ctx[:has_architecture]%>
<div class="arch">
    <div class="sidheader">
      <span class="sidtext">to realize the architecture:</span>
      </div>
      <div class="sidbody">
  <img class="archimg" src="<%=File.basename(ctx[:arch_ref]) + '.png'%>"/>
  </div>
</div>
<%end%>