<%if ctx[:has_new_components]%>
<div class="building">
  <%building.each() do |bc1|
    %>  <div class="new_component">
    <%bc1.each_pair() do |bk,bv|
    %>    <span><%=bk%></key>
      <%if bv.instance_of? Hash  # most likely a suggestion
          bv.each_pair() do |k2,v2|
      %>  <span style="<%=k2%>"><%=v2%></span>
      <%  end%>
      <%else
      %>  <span><%=bv%></span>
      <%end
      end
    %></div>
  <%end
  %></div>
<%end%>
