<div class="features"><% 
  root['features'].each do |f|
  if f.instance_of? Hash
    f.each_pair do |k,v|%>
    <div class='<%=k%>'><%=v%></div>
  <%end
  else%>
    <div class='feature'><%=f.gsub(/\n/,'<br/>')%></div><%
  end 
end %>
  </div>
