<div class="requires">
  <%
  root['requires'].each_pair do |key,val|   # requires is always a hash 
  case key
    when 'defining'
      %><%=gen_defining_tasks(val,ctx)%>
    <%when 'using'
      %><%=gen_using(val,ctx)%>
    <%when 'building'
      %><%=gen_building(val,ctx)%>
    <%when 'suggestion'
      %><div class='suggestion'><%=val%></div>
    <%end %>
  <%end 
  %></div>
